h2{
    margin: 3% 0 0 10%;
}

.btn-voltar {
    display: inline-block; /* ESSENCIAL */
    text-decoration: none;
    color: #000;
    margin: 30px 0 0 10%; /* agora vai funcionar */
    font-size: 18px;
    position: relative;
}

.btn-voltar::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px; /* distância da linha */
    width: 100%;
    height: 2px;
    background-color: #000;

    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.4s ease;
}

.btn-voltar:hover::after {
    transform: scaleX(1);
}

.btn-results {
    display: block; /* importante aqui */
    width: fit-content; /* não esticar */
    margin: 0 10% 30px auto; /* joga pra direita + margem embaixo */
    
    background-color: #B30A07;
    padding: 15px 80px;
    border-radius: 10px;
    font-weight: 800;
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
}

.btn-results:hover{
    background-color: #7b0503;
    transition: 0.4s;
}

/* ver relatores */

.container {
    width: 80%;
    margin: 30px auto;
}

/* títulos */
.titulo-secao {
    margin: 30px 0 10px 0;
    color: #000000;
}

/* lista de usuários */
.usuarios-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.usuario-item {
    background-color: #f3f3f3;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 14px;
}

.usuario-item .role {
    color: #777;
}

/* card da hae */
.hae-card {
    background-color: #f9f9f9;
    border-left: 6px solid #B30A07;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.6);
    transition: 0.2s;
}

.hae-card:hover {
    transform: translateY(-2px);
}

/* título da hae */
.hae-titulo {
    margin-bottom: 10px;
    color: #222;
}

/* relatores */
.relator {
    margin-bottom: 10px;
}

.tag {
    display: inline-block;
    background-color: #B30A07;
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 12px;
}

.nenhum {
    color: #777;
    font-style: italic;
}

/* select */
.select-relatores {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* botão */
.btn-salvar {
    margin-top: 10px;
    background-color: #B30A07;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-salvar:hover {
    background-color: #8f0805;
}

/* botão voltar */
.btn-voltar {
    margin-left: 10%;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

/* logout */
.logout{
    padding: 10px;
    background-color: #B30A07;
    color: #fff;
    border-style: none;
    font-weight: 800;
    border-radius: 10px;
    transition: 0.2s;
}
.logout:hover{
    transition: 0.2s;
    background-color: #9b0300;
    transform: translateX(10px);
}
