.minhas-haes {
    width: 80%;
    margin: 0 0 0 10%;
    padding: 20px;
}

.hae-box {
    margin-bottom: 30px;
    background-color: #e5e5e5;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.6);
}

.hae-header {
    padding: 10px 15px;
    font-weight: bold;
    color: white;
}

/* cores */
.laranja {
    background-color: #FF570F;
    opacity: 0.84;
    border-left: 5px solid #FF570F;
}

.amarelo {
    background-color: #eab308;
    border-left: 5px solid #eab308;
}

.verde {
    background-color: #009908;
    opacity: 0.84;
    border-left: 5px solid #009908;
}

.vermelho {
    background-color: #FF0000;
    opacity: 0.84;
    border-left: 5px solid #FF0000;
}

.azul{
    background-color: #005dce;
    opacity: 0.84;
    border-left: 5px solid #005dce;
}

/* lista */
.hae-list {
    padding: 10px 15px;
}

/* item */
.hae-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #555;
    text-decoration: none;
}

/* remove última linha */
.hae-item:last-child {
    border-bottom: none;
}

.titulo {
    color: #333;
}

.data {
    color: #555;
    font-size: 12px;
}

/* relatores */

.relator{
    margin: 4% auto;
    width: 80%;
}

/* container da lista */
.hae-list {
    padding: 10px 15px;
}

/* card clicável */
.hae-item {
    display: block;
    background-color: #d4d4d4;
    border-radius: 8px;
    padding: 12px 15px;
    margin-bottom: 10px;
    text-decoration: none;
    transition: all 0.2s ease;
    
}

/* efeito hover */
.hae-item:hover {
    background-color: #eaeaea;
    transform: translateX(5px);
}

/* conteúdo interno */
.hae-info {
    display: flex;
    flex-direction: column;
}

/* título */
.titulo {
    font-size: 16px;
    font-weight: bold;
    color: #222;
}

/* data */
.data {
    font-size: 12px;
    color: #666;
    margin-top: 4px;
}

/* mensagem vazia */
.vazio {
    color: #777;
    font-style: italic;
}