body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
}

/* CONTAINER */
.hae-container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.8);
}

/* TITULO */
.titulo {
    margin:  0 0 4% 0;
}

/* INFO */
.info p {
    margin: 5px 0;
}

/* STATUS */
.status {
    font-weight: bold;
    color: #007bff;
}

/* BLOCOS */
.bloco {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #ddd;
}

/* CRONOGRAMA */
.cronograma {
    list-style: none;
    padding: 0;
}

.cronograma li {
    margin-bottom: 5px;
}

/* ITENS (parecer/decisão) */
.item {
    background: #f1f1f1;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.6);
}

/* TEXTO VAZIO */
.vazio {
    color: #777;
    font-style: italic;
}

a {
    text-decoration: none;
    color: #000;
    margin: 5%;
    font-size: 22px;
    position: relative;
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px; /* distância da linha */
    width: 100%;
    height: 2px;
    background-color: #000;

    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.4s ease;
}

a:hover::after {
    transform: scaleX(1);
}

.bloco-parecer{
    display: block;
}

.comentario{
    width: 100%;
}

.btn-parecer{
    padding: 12px 22px;
    background-color: #B30A07;
    color: #fff;
    font-weight: 700;
    border-style: none;
    border-radius: 10px;
    transition: 0.2s;
}
.btn-parecer:hover{
    padding: 13px 23px;
    background-color: #8f0200;
    transition: 0.2s;
}


/* botões de aprovação */
.acoes{
    display: flex;
    justify-content: space-evenly;
    margin: 1% 0 0 0;
}
.btn-aprovar{
    color: #fff;
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #20af00;
    border-style: none;
    transition: 0.2s;
}
.btn-aprovar:hover{
    padding: 12px 20px;
    background-color: #188100;
    transition: 0.2s;
}

.btn-recusar{
    color: #fff;
    font-weight: 800;
    padding: 10px 20px;;
    border-radius: 10px;
    background-color: #B30A07;
    border-style: none;
    border-style: none;
    transition: 0.2s;
}
.btn-recusar:hover{
    padding: 12px 20px;
    background-color: #7b0503;
    transition: 0.2s;
}

.btn-diligencia{
    color: #fff;
    font-weight: 800;
    padding: 10px 20px;;
    border-radius: 10px;
    background-color: #e35300;
    border-style: none;
    transition: 0.2s;
}
.btn-diligencia:hover{
    padding: 12px 20px;
    background-color: #b54200;
    transition: 0.2s;
}